
{% extends 'layout.html.twig' %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Album
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ route('album.list') }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                            </a>
                        </div>
                    </div>
                    <br/>
                                <tbody>

                                {% for galeria in galerias%}
                                    <div id="gallery" >
                                        <ul>
                                            <div class="col-md-6">
                                                <li>
                                                    <a href="#">
                                                    <img src="/galeria/{{ galeria.categoryFuncionario.first_name }}/{{ galeria.name }}" class="img-rounded" width="200" height="200">

                                                    </a>
                                                </li></br>
                                                <a href="{{ route('album.show', {'id' : galeria.id}) }}" class="col-md-6" title="Excluir">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                                </br></br>
                                            </div>

                                        </ul>
                                    </div>

                                {% endfor %}
                                </tbody>
                    <center>
                        <nav class="col-md-12">
                            <ul class="pagination">
                                <li>
                                    <a href="caminho-pagina-0" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a>1</a>
                                </li>
                                <!-- FOR CONTA NUMERO PAGINAS COM IF QUE MUDA ESTILO PARA SABER QUAL PAGINA ESTA -->
                                <li>
                                    <a href="caminho-pagina-0" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}